/Helpers
/2st course. Winter session/Apps/ManagerCompactDisk

/2st course. Summer control work/Apps/SmartCalculator/.idea
/2st course. Summer control work/Apps/SmartCalculator/out
/2st course. Summer control work/Apps/SmartCalculator/SmartCalculator.iml

/2st course. Summer course project/Apps/Minesweeper/.idea
/2st course. Summer course project/Apps/Minesweeper/out
/2st course. Summer course project/Apps/Minesweeper/Minesweeper.iml