/Helpers
/2st course. Winter session/Apps/ManagerCompactDisk

/2st course. Summer session/Apps/Calculator/.idea
/2st course. Summer session/Apps/Calculator/out
/2st course. Summer session/Apps/Calculator/Calculator.iml